//color variables
$color-primary-header: #55c57a;
// $color-primary-header: #8458b3;

$color-primary-header-light: #7ed56faa;
$color-primary-header-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-total-white: #fff;
$color-total-black: #000;
$color-grey-light-1: #f7f7f7;

$grid-width: 114rem;
$margin-vertical: 8rem;
$margin-horizontal: 6rem;
